<div class="unit-header">
  <div class="unit-name">
    <h1 class="unit-name-title">{{ name }}</h1>
    <h1>·</h1>
    <h1 class="unit-price">${{ price | number: '1.0-0' }}</h1>
  </div>
  <div class="unit-details">
    <div class="details-item">
      <mat-icon>straighten</mat-icon>
      <h3 class="unit-size">{{ size }} m²</h3>
    </div>
    <div class="details-item">
      <mat-icon>people</mat-icon>
      <h3 class="unit-capacity">
        {{ capacity }}
      </h3>
    </div>
    <div class="details-item">
      <mat-icon>event</mat-icon>
      <h3 class="stay-period">{{ from | date: 'MMM d, y' }} - {{ to | date: 'MMM d, y' }}</h3>
    </div>
  </div>
</div>
