@use '../../../../styles' as s;

.unit-header {
  display: flex;
  flex-direction: column;

  .unit-name {
    display: flex;
    gap: 18px;
    align-items: baseline;
  
    .unit-price {
      color: s.$color-brand-dark;
    }
  }

  .unit-details {
    display: flex;
    gap: 34px;
    font-size: 14px;

    .details-item {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }
  }
}
