<mat-toolbar>
  <div>
    <span role="button" tabindex="0" (click)="goHome()" (keyup.enter)="goHome()"
      >Booking Service</span
    >
    <section>
      <button matButton="elevated" (click)="openRegistration()" (keyup.enter)="openRegistration()">
        Register
      </button>
      <button matButton="elevated" (click)="openLogin()" (keyup.enter)="openLogin()">Log in</button>
    </section>
  </div>
  @if (showSearchContainer()) {
    <booking-service-search-container />
  }
</mat-toolbar>
