.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .search-bar-field {
    width: 600px;
  }

  .search-button {
    margin-bottom: 20px;
  }
}
