@use '../../../../../styles.scss' as s;

.auth-header {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  color: s.$color-brand-dark;

  .auth-header-title {
    font-size: 32px;
    margin: 0;
  }
}