<form [formGroup]="filterForm" (ngSubmit)="onSearch()">
  <booking-service-search-bar [form]="filterForm" />

  <mat-accordion class="additional-filters-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Additional filters</mat-panel-title>
      </mat-expansion-panel-header>

      <booking-service-search-container-tags [form]="filterForm" />
      <booking-service-search-container-city [form]="filterForm" />
      <booking-service-search-container-country [form]="filterForm" />
      <booking-service-search-container-price-range [form]="filterForm" />
      <booking-service-search-container-rating [form]="filterForm" />
      <booking-service-search-container-capacities [form]="filterForm" />
    </mat-expansion-panel>
  </mat-accordion>
</form>
